header .nav-link {
  font-size: 50px;
}

header .nav {
  display: flex;
  justify-content: space-evenly;
}

header .active{
  color: red !important;
}

.cart{
  display: flex;
  justify-content: space-between;
  align-items: center;
}